{% extends '::base.html.twig' %}
{% block stylesheets %} {{ form_stylesheet(form) }} {%endblock%}
{% block body -%}
    <h1>Editar Sucursal</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('sucursal') }}">
            Cancelar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
{%block javascripts%}{{ form_javascript(form) }} {%endblock%}
